<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
</head>
<body>
	
	<div class="parent-tags">
		<h3>
			tags
		</h3>
		<div class="wrapper-tags">			 
			 <input type="text" placeholder="Type here..." class="input-tag">
		</div>
		<span class="tags-length">0 Tags</span>
	</div>
	
	<script src="app.js"></script>

</body>
</html>